<% include ../partials/head %>


<div class="content-carreras">

	<div class="title text-center">
		<h1>COMPETENCIA - MODIFICAR</h1>
	</div>

	<div class="container">

		<div class="table-responsive">
			<table class="table table-striped table-bordered table-fixed display" style="width:100%" id="myTableCompe" cellspacing="0" width="100%">
				
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Nombre</th>
					<th scope="col">Lugar</th>
					<th scope="col">Fecha</th>
					<th scope="col">Hora</th>
					<th scope="col" class="text-center">Acción</th>
				</tr>
			</thead>

			<tbody>
				<% for(var i=0; i<datosCompetencia.length; i++) {%>
				<tr>
					<th scope="row"><%= datosCompetencia[i]['id'] %></th>
					<td><%= datosCompetencia[i]['nombre'] %></td>
					<td><%= datosCompetencia[i]['lugar'] %></td>
					<td><%= datosCompetencia[i]['fecha'] %></td>
					<td><%= datosCompetencia[i]['hora'] %></td>
					<td class="d-flex align-items-center justify-content-center">
	                    <a class="btn btn-primary" href="/competencia/modificar/<%= datosCompetencia[i]['id'] %>">Editar</a>           
	                    <form method="post" action="/competencia/eliminar/<%= datosCompetencia[i]['id'] %>">
	                    	<button type="submit" class="btn btn-danger" name="delete" onClick="return confirm('¿Quieres eliminar la competencia?')">Eliminar</button>
	                    </form>

					</td>
				</tr>
				<% } %>
			</tbody>

	</table>

	</div>
		<div class="btn-container text-center">
			<a href="crear" class="btn btn-success btn-lg">CREAR</a>
		</div>
		

	</div>

</div>

<% include ../partials/foot %>