<% include ../partials/head %>

<div class="title text-center" >
	<h1>HISTORIAL - <%= dataDetalle.dataCompetencia.nombreCompetencia %></h1>
</div>

<div id="addEmployeeModal" class="modal fade bd-example-modal-lg">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header" >            
				<h3  class="modal-title" >Premiacion  - <%= dataDetalle.dataCompetencia.nombreCompetencia %></h3>

				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">          
				<label><b>Ganador Absoluto</b></label>
				<table class="table table-striped table-bordered table-fixed display"  id="Table" >
					<thead>
						<tr>
							<th scope="col">Pos</th><th scope="col"># Numero</th>
							<th scope="col">Tiempo</th><th scope="col">Nombre y Apellido</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td><%= dataDetalle.dataCompetidores[0].numero%></td>
							<td><%= dataDetalle.dataCompetidores[0].tiempo%></td>
							<td><%= dataDetalle.dataCompetidores[0].competidor%></td>

						</tr>
					</tbody>
				</table>

				<% 
                for(var i=0; i<Object.keys(dataPremiacion).length; i++) {
					var objeto = Object.keys(dataPremiacion)[i];
					var objeto2 = _.values(dataPremiacion)[i];
					%>
				<div>

					<label><b> <%= objeto %> </b></label>


					<table class="table table-striped table-bordered table-fixed display"  id="Table" >
						<thead>
							<tr>
								<th scope="col">Pos</th><th scope="col"># Numero</th>
								<th scope="col">Tiempo</th><th scope="col">Nombre y Apellido</th>

							</tr>
						</thead>
						<tbody>
							<% for(var j=0; j<Object.keys(objeto2).length; j++) { %>
							<tr>

								<th scope="row"><%=j+1%></th>
								<td><%= _.values(objeto2)[j].numero %></td>
								<td> <%= _.values(objeto2)[j].tiempo %></td>
								<td><%= _.values(objeto2)[j].competidor %></td>

							</tr>
							<%}%>
						</tbody>
					</table>
				</div>
				<% } %>


			</div>
			<div class="modal-footer">
				<input type="button" class="btn btn-secondary  text-uppercase " data-dismiss="modal" value="OK">
			</div>
		</div>
	</div>
</div>

<div class="container">

	<div class="table-title">

		<div class="row text-center">
			<div class="col-md-8"><h2>Lista de llegada de Atletas</h2></div>
			<div class="col-12 col-md-4">
				<button href="#addEmployeeModal" data-toggle="modal" type="button" class="btn btn-success btn-lg text-uppercase add-new"><i class="fa fa-plus"></i> Premiacion</button>
			</div>
		</div>
	</div>

	<table class="table table-striped table-bordered table-fixed display" style="width:100%" id="myTableHistoriaDetalle" cellspacing="0" width="100%">

		<thead>
			<tr>
				<th scope="col">Pos</th>
				<th scope="col"># Numero</th>
				<th scope="col">Tiempo</th>
				<th scope="col">Nombre y Apellido</th>

			</tr>
		</thead>
		<tbody>   

			<% for(var i=0; i<dataDetalle.dataCompetidores.length; i++) {%>
			<tr>
				<th scope="row"><%= i+1 %> </th>
				<td><%= dataDetalle.dataCompetidores[i].numero%></td>
				<td><%= dataDetalle.dataCompetidores[i].tiempo%></td>
				<td><%= dataDetalle.dataCompetidores[i].competidor%></td>

			</tr>
			<% } %>

		</tbody>
	</table>

	<div class="btn-container text-center">
		<a class="btn btn-secondary btn-lg btn-back-h" href="/historial">Buscar Otra Competenciaaaa</a>
	</div>

</div>

<% include ../partials/foot %>