<% include ../../partials/head %>

<div class="content-gestionar">

    <div class="title text-center">
        <h1>CLUB</h1>
    </div>

    <% include crear %>
    <% include modificar %>

    <div class=container>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-fixed display" style="width:100%" id="myTableGestion" cellspacing="0" width="100%">

                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" class="text-center">Acción</th>
                    </tr>
                </thead>

                <tbody>
                    <% for(var i=0; i<listClub.length; i++) {%>
                    <tr>
                        <th scope="row"><%= listClub[i]['id'] %></th>
                        <td><%= listClub[i]['nombre'] %></td>
                        <td><%= listClub[i]['descripcion'] %></td>
                        <td class="d-flex align-items-center justify-content-center">

                            <form action="/gestionar/club/modificar" class="modiClub" > 
                                <input type="hidden" class="club_id" name="club_id" value="<%= listClub[i]['id']%>">
                                <input type="submit" class="btn btn-primary" href="#editarClubModal" data-toggle="modal" value="Editar" >  
                            </form> 


                            <form action="/gestionar/club/eliminar/<%= listClub[i]['id'] %>" class="deleteClub">
                                <button type="submit" class="btn btn-danger" name="delete" onClick="return confirm('¿Quieres eliminar el Club?')">Eliminar</button>
                            </form>

                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="btn-container text-center">
            <a href="#crearClubModal" data-toggle="modal" class="btn btn-success btn-lg">CREAR</a>
        </div>

    </div>

</div>


<% include ../../partials/foot %>